body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 40px;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row; /* Alterado para manter os itens do menu na mesma linha */
    justify-content: space-around; /* Espaçamento entre os itens do menu */
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px; /* Espaçamento lateral entre os itens do menu */
}

nav .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 100%;
    text-align: left;
}

nav li:hover > .submenu {
    display: block;
}

nav .submenu li {
    width: 100%;
}

nav .submenu a {
    padding: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.content {
    text-align: center;
}

.image-container {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
